.android {
    height: 95vh;
    width: 55vh;
    position: relative;

    div {
        width: 82%;
        height: 79.5%;
        background-color: red;
        position: absolute;
        top: 9.9%;
        left: 9.8%;
    }

    img {
        position: absolute;
        height: 95vh;
        width: 55vh;
        top: 0px;
        left: 0px;
    }
}