.laptop {
    height: 70vh;
    width: 100vh;
    position: relative;

    div {
        width: 79.5%;
        height: 73%;
        background-color: red;
        position: absolute;
        top: 4.8%;
        left: 10%;
    }

    img {
        position: absolute;
        height: 70vh;
        width: 100vh;
        top: 0px;
        left: 0px;
    }
}