.backend {
    display: flex;
    height: 100%;

    .backend-preview_container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backend-projects_container {
        flex: 2;
        height: 100%;
        padding: 10px 0px 0px 30px;
        font-family: var(--roboto);
        overflow: scroll;

        .backend-projects-list-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}