.home {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: var(--blue);

    .home-top_navbar {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;

        .home-top_navbar-link_container {
            margin: 20px 20px;


            .home-top_navbar-link {
                margin-right: 10px;
                text-decoration: none;
                cursor: pointer;
            }
        }

        // width: 100%;

        // display: flex;
        // justify-content: flex-end;


        // .home-top_navbar-link {
        //     margin: 20px 10px;
        //     text-decoration: none;
        //     padding: 10px 20px;
        //     font-family: var(--roboto);
        //     font-weight: bold;
        //     color: var(--blue);
        //     cursor: pointer;


        //     &:hover {
        //         background-color: var(--blue);
        //         color: var(--white);
        //     }
        // }

        // a{
        //     margin-top: 20px;
        //     margin-right: 10px;
        // }
        // cursor: pointer;
    }

    .home_title-container {
        position: absolute;
        top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .home_title {
            font-family: 'Roboto', sans-serif;
            font-size: 50px;
            font-weight: 500;
        }

        .home_subtitle {
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-size: 30px;
            font-weight: 500;
        }

        .home_buttons-container {
            margin-top: 40px;

            .home_about-button,
            .home_project-button {
                padding: 8px 30px;
                background-color: var(--blue);
                margin: 0px 10px;
                border-radius: 5px;
                border: 3px solid var(--blue);
                font-weight: bold;
                font-size: 20px;
                text-decoration: none;
                font-family: var(--roboto);
                cursor: pointer;
                -webkit-box-shadow: var(--boxShadow);
                box-shadow: var(--boxShadow);

            }

            .home_about-button {
                background-color: var(--white);
                color: var(--blue);

                &:hover {
                    background-color: var(--whiteDark);
                    border-color: var(--blueLight);
                    color: var(--blueLight);
                }
            }

            .home_project-button {
                color: var(--white);

                &:hover {
                    background-color: var(--blueLight);
                    border-color: var(--blueLight);
                    color: var(--whiteDark);
                }
            }
        }
    }

    .home_gif-container {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        img {
            height: 500px;
            width: 500px;
        }
    }

    .home_bottom-bar {
        position: absolute;
        bottom: 0;
        background-color: var(--blue);
        height: 60px;
        width: 100%;
    }

    // font-family: 'Edu NSW ACT Foundation', cursive;
    // font-family: 'Roboto', sans-serif;
}