.mobile {
    // display: flex;
    height: 100%;
    width: 100%;

    .custom-shape-divider-top-1657731804 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1657731804 svg {
        position: relative;
        display: block;
        width: calc(156% + 1.3px);
        height: 388px;
    }

    .custom-shape-divider-top-1657731804 .shape-fill {
        fill: var(--blue);
    }

    .mobile-container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .mobile-content {
            flex: 1;
        }
    }

}