.server {
    height: 70vh;
    width: 100vh;
    position: relative;

    div {
        width: 73%;
        height: 67%;
        background-color: red;
        position: absolute;
        top: 5.5%;
        left: 13.5%;
    }

    img {
        position: absolute;
        height: 70vh;
        width: 100vh;
        top: 0px;
        left: 0px;
    }
}