.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .custom-shape-divider-top-1657731804 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1657731804 svg {
        position: relative;
        display: block;
        width: calc(156% + 1.3px);
        height: 388px;
    }

    .custom-shape-divider-top-1657731804 .shape-fill {
        fill: var(--blue);
    }

    .projects-title {
        font-family: var(--roboto);
        color: var(--white);
    }

    .projects-subtitle {
        font-family: var(--cursive);
        font-size: 20px;
        color: var(--white);
        margin: 0px 0px 20px 0px;
    }

    .projects-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        * {
            margin: 20px;
        }
    }
}