:root {
    --blue: #003140;
    --white: #ffffff;

    --whiteDark: #f5f5f5;
    --blueLight: #0185ad;

    --roboto: 'Roboto', sans-serif;
    --cursive: 'Edu NSW ACT Foundation', cursive;

    --boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    --boxShadowBig: 2px 8px 18px rgba(0, 0, 0, 0.5);
}